<!DOCTYPE html>
<html>
	<head>
		<title>Отель Ракурс</title>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link rel="shortcut icon" href="/favicon.png" type="image/png" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/font.css" />
		<link rel="stylesheet" href="vendor/fullpage/jquery.fullPage.css" />
		<link rel="stylesheet" href="vendor/fotorama/fotorama.css" />
		<link rel="stylesheet" href="css/style.css" />

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVqLu5itdX3nHXNb9JKZBqrQxajjQfpLE&sensor=true"></script>
		<script src="vendor/jquery.js"></script>
		<script src="vendor/angular.min.js"></script>
		<script src="vendor/ui-bootstrap-custom-0.12.0.min.js"></script>
		<script src="vendor/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
		<script src="vendor/jquery.slimscroll.min.js"></script>
		<script src="vendor/fullpage/jquery.fullPage.min.js"></script>
		<script src="vendor/fotorama/fotorama.js"></script>

    <script src="js/maps.js"></script>
		<script src="js/js.js"></script>
		<script src="js/app/controllers/booking.js"></script>

	</head>
	<body>

		<div id="hotelapp">

			<div class="section welcome" id="section0">
				<div class="fotorama" data-fit="cover" data-width="100%" data-height="100%" data-arrows="false" data-navposition="top">
					<img src="i/slider/1.jpg" class="page-promo-img" alt="" />
					<img src="i/slider/1.jpg" class="page-promo-img" alt="" />
					<img src="i/slider/1.jpg" class="page-promo-img" alt="" />
				</div>
				<div class="welcome-page">
					<div class="welcome-content">
						<div class="welcome-logo rus-logo"></div>
					</div>
					<div class="skip-welcome-box">
						<a href="#appart" class="skip-welcome"></a>
					</div>

				</div>
				<!-- <div class="slide slide1"></div>
				<div class="slide slide2"></div>
				<div class="slide slide3"></div> -->
			</div>

			<div class="section appart with-booking appart" id="section1">
				<div class="page-promo">
					<div class="fotorama" data-fit="cover" data-width="100%" data-height="400" data-arrows="false">
						<img src="i/appart/single.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/double.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/premium.jpg" class="page-promo-img" alt="" />
					</div>
				</div>
				<div class="page-content">
					<h3>Размещение</h3>
					<p>Приятная атмосфера каждого номера, созданная сочетанием светлых тонов и&nbsp;современного интерьера, позволит провести время в&nbsp;отеле с&nbsp;удовольствием, не&nbsp;зависимо от&nbsp;цели визита. В&nbsp;каждой комнате, не&nbsp;зависимо от&nbsp;типа размещения вы&nbsp;найдете: фен, сейф, махровый халат. Завтрак, беспроводной интернет, кабельное телевидение так&nbsp;же входят в&nbsp;стоимость номера.</p>
				</div>
			</div>

			<!-- ########### номера -->

			<div class="section with-booking appart" id="section2">
				<div class="page-promo">
					<div class="fotorama" data-fit="cover" data-width="100%" data-height="400" data-arrows="false">
						<img src="i/appart/single.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/double.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/premium.jpg" class="page-promo-img" alt="" />
					</div>
				</div>

				<!-- <div class="page-promo">

				</div> -->
				<div class="page-content">
					<h3>Номер стандарт одноместный</h3>
					<p>Предполагает размещение одного гостя. Каждый номер этой категории оборудован центральной системой кондиционирования, душевой кабиной, двуспальной кроватью, телевизор, мини-бар, фен, сейф, махровый халат, предметы первой необходимости. Доступ к&nbsp;беспроводному интернету гостю предоставляется бесплатно.</p>
				</div>
			</div>

			<div class="section with-booking appart" id="section3">
				<div class="page-promo">
					<div class="fotorama" data-fit="cover" data-width="100%" data-height="400" data-arrows="false">
						<img src="i/appart/single.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/double.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/premium.jpg" class="page-promo-img" alt="" />
					</div>
				</div>
				<div class="page-content">
					<h3>Номер стандарт двухместный</h3>
					<p>Предполагает размещение одного или двух гостей. Каждый номер этой категории оборудован центральной системой кондиционирования, душевой кабиной, в&nbsp;зависимости от&nbsp;запроса, одна двуспальная или две отдельных кровати, телевизор, мини-бар, фен, сейф, махровый халат, предметы первой необходимости. Доступ к&nbsp;беспроводному интернету гостю предоставляется бесплатно.</p>
				</div>
			</div>

			<div class="section with-booking appart" id="section4">
				<div class="page-promo">
					<div class="fotorama" data-fit="cover" data-width="100%" data-height="400" data-arrows="false">
						<img src="i/appart/single.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/double.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/premium.jpg" class="page-promo-img" alt="" />
					</div>
				</div>
				<div class="page-content">
					<h3>Номер премиум двухместный</h3>
					<p>Предполагает размещение одного или двух гостей. Каждый номер этой категории оборудован центральной системой кондиционирования, обеденной зоной, ванной, двуспальной кроватью, телевизор, мини-бар, фен, сейф, махровый халат, предметы первой необходимости. Доступ к&nbsp;беспроводному интернету гостю предоставляется бесплатно. Отличительная черта этого типа номеров&nbsp;&mdash; увеличенная площадь, изысканный интерьер а&nbsp;так&nbsp;же живописный вид на&nbsp;Волгу.</p>
				</div>
			</div>

			<div class="section with-booking appart" id="section5">
				<div class="page-promo">
					<div class="fotorama" data-fit="cover" data-width="100%" data-height="400" data-arrows="false">
						<img src="i/appart/single.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/double.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/premium.jpg" class="page-promo-img" alt="" />
					</div>
				</div>
				<div class="page-content">
					<h3>Номер для людей с ограниченными возможностями</h3>
					<p>Увеличенная площадь комнаты, эргономичная планировка, поручни безопасности и&nbsp;оснащенная ванная комната создадут максимальный комфорт во&nbsp;время пребывания в&nbsp;отеле. Предполагает размещение одного или двух гостей. Каждый номер этой категории оборудован центральной системой кондиционирования, ванной, двуспальной кроватью, телевизор, мини-бар, фен, сейф, махровый халат, предметы первой необходимости. Доступ к&nbsp;беспроводному интернету гостю предоставляется бесплатно.</p>
				</div>
			</div>

			<div class="section restaurant with-booking" id="section6">
				<div class="page-promo">
					<div class="fotorama" data-fit="cover" data-width="100%" data-height="400" data-arrows="false">
						<img src="i/appart/single.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/double.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/premium.jpg" class="page-promo-img" alt="" />
					</div>
				</div>
				<div class="page-content">
					<h3>Ресторан</h3>
					<p>Утренний завтрак, для наших гостей, сервируется ежедневно, в&nbsp;обеденной зоне с&nbsp;7.00 до&nbsp;10.00. В&nbsp;дневное и&nbsp;вечернее время, в&nbsp;ресторане, расположенном на&nbsp;первом этаже вы&nbsp;сможете окунуться в&nbsp;приятную атмосферу и&nbsp;отведать блюда европейской кухни.</p>
				</div>
			</div>

			<div class="section meetings with-booking" id="section7">
				<div class="page-promo">
					<div class="fotorama" data-fit="cover" data-width="100%" data-height="400" data-arrows="false">
						<img src="i/appart/single.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/double.jpg" class="page-promo-img" alt="" />
						<img src="i/appart/premium.jpg" class="page-promo-img" alt="" />
					</div>
				</div>
				<div class="page-content">
					<h3>Совещания</h3>
					<p>Приятно удивит непринуждённая атмосфера и&nbsp;уникальный дизайн конференц-зала, находящегося на&nbsp;втором этаже комплекса, вмещающего до&nbsp;40&nbsp;слушателей. Свободная компоновка столов и&nbsp;отдельная демонстрационная зона, идеально подходят для проведения конференций, семинаров и&nbsp;презентаций, во&nbsp;время проведения которых, можно воспользоваться специальным меню нашего ресторана для организации кофейной паузы.</p>
				</div>
			</div>

			<div class="section map" id="section8">
				<div class="js-map" id="gmap"></div>
			</div>


		</div>


		<div ng-app="booking">
			<div class="booking" id="booking" ng-controller="BookingCtrl">
				<form action="" class="booking-form full">
					<h4>Бронирование номера</h4>
					<dl class="clearfix">
						<dt>Вы выбрали</dt>
						<dd class="fw">
							<select name="" id="appType" ng-model="roomPrice" ng-change="calcTotal()">
								<option ng-repeat="room in rooms" value="{{room.value}}">
									{{room.text}}
								</option>
							</select>
						</dd>
					</dl>

					<dl class="clearfix">
						<dt>Период проживания</dt>
						<dd class="fw">

							<input type="text" class="" datepicker-popup="{{format}}" ng-model="startDate" is-open="openedStartDate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <button type="button" class="btn btn-default" ng-click="openStartDate($event)"></button>

						</dd>
						<dd class="fw">

							<input type="text" class="" datepicker-popup="{{format}}" ng-model="finishDate" is-open="openedFinishDate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <button type="button" class="btn btn-default" ng-click="openFinishedDate($event)"></button>

						</dd>
					</dl>

					<dl class="clearfix">
						<dt>Стоимость проживания</dt>
						<dd class="fw">
							<p><strong>{{totalPrice}} руб.</strong></p>
						</dd>
					</dl>

					<dl class="clearfix">
						<dt>Контактные данные</dt>
						<dd class="fw">
							<input type="text" placeholder="Имя">
						</dd>
						<dd class="fw">
							<input type="text" placeholder="Телефон">
						</dd>
						<dd class="fw">
							<input type="text" placeholder="E-mail">
						</dd>
					</dl>
					<dl class="clearfix">
						<dd class="fw">
							<input type="submit">
						</dd>
					</dl>
				</form>

	      <div class="infoBox">
	      	<h3>Контактная информация</h3>
	      	<div class="infobox-descr">
		        <p class="office-address">Ульяновск, ул. Кирова, 79</p>
		        <p class="office-phone">8 (8422) 27 04 50<br />8 (8422) 27 04 49 (факс)</p>
		        <p class="office-mail"><a href="mailto:info@rakurs-hotel.ru">info@rakurs-hotel.ru</a></p>
		      </div>
	      </div>

			</div>
		</div>

		<div class="header" id="menu">
			<a data-menuanchor="welcome" href="#welcome" class="logo"><img src="i/logo-full.png" width="160px" height="33px" alt="Гостиница Ракурс" /></a>

			<ul class="app-nav clearfix">
				<li data-menuanchor="appart">
					<a href="#appart"><span>Размещение</span></a>
				</li>
				<li data-menuanchor="restaurant"><a href="#restaurant"><span>Ресторан</span></a></li>
				<li data-menuanchor="meetings"><a href="#meetings"><span>Совещания</span></a></li>
				<li data-menuanchor="map"><a href="#map"><span>Контакты</span></a></li>
			</ul>

			<ul class="appart-menu">
				<li data-menuanchor="single"><a href="#single"><span>Одноместный</span></a></li>
				<li data-menuanchor="double"><a href="#double"><span>Двухместный</span></a></li>
				<li data-menuanchor="double-premium"><a href="#double-premium"><span>Двухместный премиум</span></a></li>
				<li data-menuanchor="for-disabled-people"><a href="#for-disabled-people"><span>Для людей с ограниченными возможностями</span></a></li>
			</ul>

			<ul class="contacts">
					<li><a href="#" class="i i-phone"></a></li>
					<li class="phone">8 <span class="prefix">8422</span> 27-04-50</li>
					<li class="lang"><a href="/en/" class="i i-eng"></a></li>
					<li class=""><a href="#" class="i i-booking"></a></li>
					<li class=""><a href="#" class="i i-hrs"></a></li>
					<li class=""><a href="#" class="i i-trapadvisor"></a></li>
				</ul>
		</div>

	</body>
</html>
